<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>764735922549-tiidhnpklobnigen5ilkg33d0bh9anm6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764735922549-tiidhnpklobnigen5ilkg33d0bh9anm6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bdveu5zFysZG3O20nwV_x--0c4a3m74</string>
	<key>GCM_SENDER_ID</key>
	<string>764735922549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jamel.Ascol</string>
	<key>PROJECT_ID</key>
	<string>ascol-37325</string>
	<key>STORAGE_BUCKET</key>
	<string>ascol-37325.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:764735922549:ios:807010e339a48f28</string>
	<key>DATABASE_URL</key>
	<string>https://ascol-37325.firebaseio.com</string>
</dict>
</plist>